<div class="modal" id="deleteBook{{book.id}}">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Delete Book</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            <span aria-hidden="true"></span>
          </button>
        </div>
        <form action="{% url 'delete_book' book.id %}" method="POST">
          {% csrf_token %}
          <div class="modal-body">
            <p>Are you sure you want to delete <strong>"{{book.title}}"</strong></p>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Confirm</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>